<!--File Upload Starts-->
<div class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone">
</div>
<span><b>Cola de Archivos</b></span>
<p>Cantidad de Archivos: 1</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th width="50%">Nombre del Archivo</th>
        <th class="text-center">Remover Archivo</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of uploader.queue">
        <td class="text-bold-600">{{ item?.file?.name }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-danger">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
