<!--File Upload Starts-->
<!-- <div class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone"
  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)"
  (onFileDrop)="addedFileToQueue()">
  <span class="d-block">Arrastre un archivo o hacer click en el botón</span>
  <UIButton color="primary" size="sm" [block]="false" (click)="handleFile(fileInput)"><i class="ft-search"></i> Buscar
    Archivo</UIButton>
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader" [hidden]="true" [multiple]="multiple"
    [accept]="mimeType" (onFileSelected)="addedFileToQueue()">
</div> -->
<div class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone">
  <span class="d-block">Arrastre un archivo o hacer click en el botón</span>
  <button color="primary" size="sm"><i class="ft-search"></i> Buscar
    Archivo</button>
  <input #fileInput type="file" ng2FileSelect>
</div>

<span><b>Cola de Archivos</b></span>
<!-- <p>Cantidad de Archivos: {{ uploader?.queue?.length }}</p> -->
<p>Cantidad de Archivos: 1</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th width="50%">Nombre del Archivo</th>
        <th class="text-center">Remover Archivo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-bold-600">Ejemplo1</td>
        <td class="text-center">
          <button type="button" class="btn btn-danger">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--File Upload Ends-->
